# directories
*/backup/*
*/swap/*
*/undo/*
*/sessions/*
local/*

# files
*/viminfo
.config/c
.netrwhist

# symlinks for neovim
.vim

#filetypes
*.pyc

# keep empty directories
!*.keep

# ignore ctags file
tags

lazy-lock.json

*flexport*
