# directories
*/backup/*
*/swap/*
*/undo/*
*/sessions/*

# files
.config/c
.netrwhist

# symlinks for neovim
.vim

*/viminfo

#filetypes
*.pyc

# keep empty directories
!*.keep

# ignore ctags file
tags
