[submodule "pack/ui/start/nerdtree"]
	path = pack/ui/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/text_editing/start/nerdcommenter"]
	path = pack/text_editing/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "pack/ui/start/vim-airline"]
	path = pack/ui/opt/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "pack/text_editing/start/vim-better-whitespace"]
	path = pack/text_editing/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "pack/misc/start/vim-dispatch"]
	path = pack/misc/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "pack/text_editing/start/vim-endwise"]
	path = pack/text_editing/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/git/start/vim-fugitive"]
	path = pack/git/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/ui/start/vim-nerdtree-tabs"]
	path = pack/ui/start/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "pack/text_editing/start/vim-speeddating"]
	path = pack/text_editing/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "pack/text_editing/start/vim-surround"]
	path = pack/text_editing/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/text_editing/start/vim-unimpaired"]
	path = pack/text_editing/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/misc/start/vim-slime"]
	path = pack/misc/start/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "pack/filetypes/start/vimtex"]
	path = pack/filetypes/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/ui/start/tabline.vim"]
	path = pack/ui/start/tabline.vim
	url = https://github.com/mkitt/tabline.vim.git
[submodule "pack/filetypes/start/vim-opencl"]
	path = pack/filetypes/start/vim-opencl
	url = https://github.com/brgmnn/vim-opencl.git
[submodule "pack/filetypes/start/vim-cute-python"]
	path = pack/filetypes/start/vim-cute-python
	url = https://github.com/ehamberg/vim-cute-python.git
[submodule "pack/filetypes/start/kotlin-vim"]
	path = pack/filetypes/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule "pack/filetypes/start/vim-go"]
	path = pack/filetypes/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/ui/start/vim-airline-themes"]
	path = pack/ui/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/ui/start/undotree"]
	path = pack/ui/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/filetypes/start/vim-coffee-script"]
	path = pack/filetypes/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "pack/fzf/start/fzf.vim"]
	path = pack/fzf/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/tmux/start/vim-tmux-navigator"]
	path = pack/tmux/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "pack/misc/start/vim-sleuth"]
	path = pack/misc/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "pack/tmux/start/vim-tmux-focus-events"]
	path = pack/tmux/start/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "pack/misc/start/vim-obsession"]
	path = pack/misc/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/text_editing/start/delimitMate"]
	path = pack/text_editing/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/ui/start/vim-tabdrop"]
	path = pack/ui/start/vim-tabdrop
	url = https://github.com/ipod825/vim-tabdrop.git
[submodule "pack/filetypes/start/rust.vim"]
	path = pack/filetypes/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "pack/misc/start/webapi-vim"]
	path = pack/misc/start/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "pack/ui/start/vista.vim"]
	path = pack/ui/start/vista.vim
	url = https://github.com/liuchengxu/vista.vim.git
[submodule "pack/ui/start/vim-bookmarks"]
	path = pack/ui/start/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
[submodule "pack/lsp/start/coc.nvim"]
	path = pack/lsp/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "pack/fzf/start/fzf-preview.vim"]
	path = pack/fzf/start/fzf-preview.vim
	url = https://github.com/yuki-yano/fzf-preview.vim.git
[submodule "pack/ui/start/vim-devicons"]
	path = pack/ui/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/git/start/vim-flog"]
	path = pack/git/start/vim-flog
	url = https://github.com/rbong/vim-flog.git
[submodule "pack/formatters/start/vim-clang-format"]
	path = pack/formatters/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
[submodule "pack/formatters/start/vim-autopep8"]
	path = pack/formatters/start/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
[submodule "pack/filetypes/start/vim-apl"]
	path = pack/filetypes/start/vim-apl
	url = https://github.com/PyGamer0/vim-apl.git
[submodule "pack/formatters/start/vim-prettier"]
	path = pack/formatters/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "pack/lsp/opt/nvim-lspconfig"]
	path = pack/lsp/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/lsp/opt/ale"]
	path = pack/lsp/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/colorschemes/start/NeoSolarized"]
	path = pack/colorschemes/start/NeoSolarized
	url = git@github.com:Davey-Hughes/NeoSolarized.git
[submodule "pack/lsp/start/vim-pythonx"]
	path = pack/lsp/start/vim-pythonx
	url = https://github.com/reconquest/vim-pythonx.git
[submodule "pack/filetypes/start/vim-cpp-modern"]
	path = pack/filetypes/start/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern.git
[submodule "pack/filetypes/start/typescript-vim"]
	path = pack/filetypes/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/misc/start/vim-prosession"]
	path = pack/misc/start/vim-prosession
	url = https://github.com/dhruvasagar/vim-prosession.git
[submodule "pack/filetypes/start/fish.vim"]
	path = pack/filetypes/start/fish.vim
	url = https://github.com/nickeb96/fish.vim.git
[submodule "pack/filetypes/start/vim-asm_ca65"]
	path = pack/filetypes/start/vim-asm_ca65
	url = https://github.com/maxbane/vim-asm_ca65.git
[submodule "pack/fzf/start/fzf"]
	path = pack/fzf/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/filetypes/opt/nvim-treesitter"]
	path = pack/filetypes/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/ui/opt/nvim-numbertoggle"]
	path = pack/ui/opt/nvim-numbertoggle
	url = https://github.com/sitiom/nvim-numbertoggle.git
[submodule "pack/lsp/opt/goto-preview"]
	path = pack/lsp/opt/goto-preview
	url = https://github.com/rmagatti/goto-preview.git
[submodule "pack/misc/opt/sniprun"]
	path = pack/misc/opt/sniprun
	url = https://github.com/michaelb/sniprun.git
[submodule "pack/ui/opt/nvim-notify"]
	path = pack/ui/opt/nvim-notify
	url = https://github.com/rcarriga/nvim-notify.git
[submodule "pack/ui/opt/lualine.nvim"]
	path = pack/ui/opt/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "pack/ui/opt/nvim-web-devicons"]
	path = pack/ui/opt/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "pack/misc/opt/plenary.nvim"]
	path = pack/misc/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "pack/misc/opt/nvim-coverage"]
	path = pack/misc/opt/nvim-coverage
	url = https://github.com/andythigpen/nvim-coverage.git
[submodule "pack/misc/start/vim-test"]
	path = pack/misc/start/vim-test
	url = https://github.com/vim-test/vim-test.git
